* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url('../fondo.jpg.crdownload');
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #000;
    padding: 50px;
}


.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: rgb(186, 50, 204);
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li .navbar__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li .navbar__link:hover {
    color: rgb(204, 50, 119);
    transition: 0.4s;
}

.btn,
.btn-principal {
    background-color: darkorchid;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform 0.4s;
}

.btn:hover {
    transform: scale(1.2);
}

.btn-principal:hover {
    transform: scale(1.2);
}



.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 2px;
}

.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgb(186, 50, 204);
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: darkorchid;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
    cursor: pointer;
}

.newslatter form input:hover {
    background-color: #333;
    color: white;
}

.fa-bars {
    display: none;
}

.top-0 {
    top: 0;
}

.fixed {
    position: fixed !important;
}

@media only screen and (max-width: 768px) {
    .fa-bars {
        position: absolute;
        right: 50px;
        top: 50px;
        display: block;
        color: #fff;
        font-size: 24px;
        z-index: 11;
        cursor: pointer;
    }

    .btn {
        padding: 7px 18px;
    }

nav ul a {
    display: block;
text-align: center;
}

    .content {
        margin-top: 120px;
    }

    h1 {
        font-size: 35px;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 50px;
    }

    h4 {
        letter-spacing: 2px;
        font-size: 16px;
    }

    .newslatter form {
        width: 80%;
        position: relative;
    }
}

@media only screen and (max-width: 520px) {

    .btn {
        display: contents;
        display: -ms-grid;
    }
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img {
    height: auto;
    width: 430px;
}

.about-text {
    width: 550px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-size: 75px;
    margin-bottom: 20px;
}

.about-text h5 {
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
}

.about-text p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: darkorchid;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #7e1c9f;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .main img {
        width: 250px;
    }

    .about-text {
        text-align: center;
        width: auto;
        padding: 0px 20px;
    }

    .about-text h2 {
        font-size: 35px;
        margin-top: 10px;
    }

    .about-text h5 {
        font-size: 18px;
    }

    .about-text p {
        font-size: 14px;
        line-height: 18px;
    }
}

.service {
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: #fff;
    font-size: 75px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 395px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center
}

.card:hover {
    transition: 1s;
    translate: -10px -40px;
    box-shadow: whitesmoke 3px 3px;
}

.card i {
    font-size: 60px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: darkorchid;
}

h5 {
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: darkorchid;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 0.4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid rgb(90, 25, 122);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .box {
        flex-direction: column;
    }

    .title h2 {
        font-size: 35px;
    }
}

.contact-me {
    width: 100%;
    height: 290px;
    background: url(../images/dark-background-abstract.png);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two {
    background-color: darkorchid;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.4s;
}

.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid darkorchid;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .contact-me p {
        font-size: 24px;
    }
}

@media only screen and (max-width: 496px) {
    .contact-me p {
        font-size: 20px;
    }
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #303030;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: darkorchid;
    color: #fff;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

.social a:hover {
    transform: scale(1.3);
}

.end {
    position: absolute;
    color: darkorchid;
    bottom: 35px;
    font-size: 14px;
}

.end a {
    color: darkorchid;
}

.end a:hover {
    color: #858585;
}

@media only screen and (max-width: 768px) {
    footer p:nth-child(2) {
        color: white;
        font-size: 14px;
        width: 80%;
    }
}

/* merge */
.container {
    padding-top: 20px;
    padding-bottom: 40px;
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;

}

.skills h2 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #fff;
    font-size: 16px;
}

.progress-bar {
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #333;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.html {
    background: #e35f06;
    animation: html 1s linear forwards;
}

.html span {
    border: 1px solid #e35f06;
}

.sql {
    background: #1ee947;
    animation: sql 1s linear forwards;
}

.sql span {
    border: 1px solid #1ee947;
}

.azure {
    background: #1ec0e9;
    animation: azure 1s linear forwards;
}

.azure span {
    border: 1px solid #1ec0e9;
}

.angular {
    background: #e91e63;
    animation: angular 1s linear forwards;
}

.angular span {
    border: 1px solid #e91e63;
}

.netcore {
    background: #a7318d;
    animation: netcore 1s linear forwards;
}

.netcore span {
    border: 1px solid #a7318d;
}

.git {
    background: #e3df17;
    animation: git 1s linear forwards;
}

.git span {
    border: 1px solid #e3df17;
}

.habilidadesblandas {
    background: #abd377;
    animation: habilidadesblandas 1s linear forwards;
}

.habilidadesblandas span {
    border: 1px solid #abd377;
}

.ingles {
    background: #ffffff;
    animation: ingles 1s linear forwards;
}

.ingles span {
    border: 1px solid #ffffff;
}

@keyframes angular {
    100% {
        width: 75%;
    }
}

@keyframes azure {
    100% {
        width: 80%;
    }
}


@keyframes git {
    100% {
        width: 70%;
    }
}

@keyframes html {
    100% {
        width: 60%;
    }
}

@keyframes ingles {
    100% {
        width: 75%;
    }
}

@keyframes sql {
    100% {
        width: 80%;
    }
}

@keyframes netcore {
    100% {
        width: 75%;
    }
}

@keyframes habilidadesblandas {
    100% {
        width: 75%;
    }
}


.skills-title {
    font-size: 45px;
    text-align: center;
    color: #fff;
    font-weight: bold
}

@media only screen and (max-width: 768px) {
    .skills-title {
        font-size: 30px;
    }
}


@media only screen and (max-width: 768px) {
    .progress-bar {
        width: 450px;
        height: 10px;
    }
}


@media only screen and (max-width: 500px) {
    .progress-bar {
        width: 300px;
        height: 10px;
    }
}


@media only screen and (max-width: 300px) {
    .progress-bar {
        width: 150px;
        height: 10px;
    }
}

/* last part */
a {
    text-decoration: none;
    color: white;
}

.Row {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0)
}

.BoxImageA {
    flex: content;
    width: 350px;
    height: 220px;
    border-radius: 10px;
}

.clase {
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
    width: 390px;
    transition: all 1s;
    color: white;
}

.clase:hover {
    transition: 1s;
    translate: -10px -40px;
    box-shadow: whitesmoke 3px 3px;
}

.btn-summary {
    background-color: rgb(158, 50, 204);
    border-radius: 10px;
    font-size: 14px;
    padding: 10px 25px;
    border: none;
    color: #FFF;
    cursor: pointer;
}


.title-two {
    background-color: black;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 60px 0 90px 0;
}

@media only screen and (max-width: 1268px) {
    .BoxImageA {
        flex: content;
        width: 250px;
        height: 200px;
    }

    .clase {
        background-color: #222;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        padding: 20px;
        margin: 20px;
        width: 300px;
        transition: all 1s;
        color: white;
    }



    .btn-summary {
        border-radius: 10px;
        font-size: 13px;
        padding: 10px 25px;
        border: none;
        color: #FFF;
        cursor: pointer;
        margin-top: 10px;

    }


    @media only screen and (max-width: 1068px) {
        .Row {
            flex-direction: column;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .title-two {
            font-size: 20px;
        }

        .BoxImageA {
            flex: content;
            width: 300px;
            height: 200px;
        }

        .clase {
            background-color: #222;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            padding: 20px;
            margin: 40px;
            width: 390px;
            transition: all 1s;
            color: white;
        }



        .btn-summary {
            border-radius: 10px;
            font-size: 14px;
            padding: 10px 25px;
            border: none;
            color: #FFF;
            cursor: pointer;

        }

    }

}
